.DS_Store
wine_db


# front
# Logs
front/logs
front/*.log
front/npm-debug.log*
front/yarn-debug.log*
front/yarn-error.log*
front/pnpm-debug.log*
front/lerna-debug.log*

front/node_modules
front/dist
front/dist-ssr
*.local

*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# api
api/.DS_Store

# Ignore bundler config.
api/.bundle

# Ignore all logfiles and tempfiles.
api/log/*
api/tmp/*
!api/log/.keep
!api/tmp/.keep

# Ignore pidfiles, but keep the directory.
api/tmp/pids/*
!api/tmp/pids/
!api/tmp/pids/.keep

# Ignore uploaded files in development.
api/storage/*
!api/storage/.keep

api/public/assets
api/.byebug_history

# Ignore master key for decrypting credentials and more.
api/config/master.key

api/public/packs
api/public/packs-test
api/node_modules
api/yarn-error.log
api/yarn-debug.log*
api/.yarn-integrity
